.brand {
    background-color: #F8F8F8;
    width: 100%;
    min-width: 320px;

    &__section {
        display: none;
    }

    &__list {
        list-style: none;
        margin: 0;
        padding: 20px 15px;
        position: relative;
    }

    &__item {
        height: 72px;
        width: 240px;
        background-color: white;
        background-repeat: no-repeat;
        background-position: 10%;
        background-size: 50% 70%;
        border: 1px solid #EAEAEA;
        border-radius: 5px;
        position: relative;
        box-sizing: border-box;

        & + .hp {
            background-position: -15% !important;
        }

        & + .apple {
            background-position: -15% !important;
        }

        & + .bosch {
            background-size: 60% !important;
        }
    }
}

.element__arrow {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 16px;
    right: 20px;
    border: 2px solid #FF3E79;
    border-radius: 50%;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 8px;
            height: 8px;
            border-top: 2px solid #ff2e78;
            border-right: 2px solid #ff2e78;
            transform: translate(-50%, -50%) rotate(45deg);
        }
 }

.button__arrow {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &.rotated {
        transform: rotate(180deg);
    }
}

.arrow {
    width: 4px;
    height: 4px;
    transform: rotate(45deg);
    border-bottom: 2px solid #41F6D7;
    border-right: 2px solid #41F6D7;
}

@include respond-to(mobile)  {
   
    .brand__slider {
        width: 320px;
        height: 150px;
        box-sizing: border-box;
        padding-left: 25px;
        padding-right: calc(100vw - 240px - 15px);
    }

    .swiper {
        overflow: hidden;
    }

    .swiper-slide {
        display: flex;
        width: 240px;
        flex-shrink: 0;
        box-sizing: border-box;
        justify-content: center;
        align-items: top;
        padding-top: 20px;
    }

    .swiper-pagination {
        color: #DDDDDD;
        margin-bottom: 15px;
    }

    .swiper-pagination-bullet {
        background-color: #DDDDDD;
        opacity: 1;    
    }

    .swiper-pagination-bullet-active {
        background-color: #B5B6BC;
    }

    .slider-fade-right {
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 100%;
        background: linear-gradient(to left, white, transparent);
        pointer-events: none;
        z-index: 10;
    }

    .page-shadow {
        position: fixed;
        top: 0;
        right: 0;
        width: 40px;
        height: 100vh;
        background: linear-gradient(to left, white, transparent);
        pointer-events: none;
        z-index: 10;
    }
}

@include respond-to(tablet)  {
    .page-shadow-right {
        display: none;
    }

    .block__header {
        height: 56px;
    }

    .block__title {
        padding-left: 15px;
    }

    .brand__section {
        display: flex;
        height: auto;
    }

    .brand__list {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        gap: 16px;
        align-content: flex-end;
        align-items: flex-start;
        padding: 20px 15px;
        row-gap: 20px;
        column-gap: 25px;
    }   

    .brand__item {
        width: calc((100% - 2 * 25px) / 3);

        &:nth-child(n+7) {
            display: none;
        }
    }

    .button__container {
        display: inline-flex;
        padding-left: 25px;
    } 
}

@include respond-to(desktop) {
    .button__container {
        display: inline-flex;
    } 

    .page-shadow-right {
        display: none;
    }

    .block__header {
        height: 56px;

        &.shadow {
            box-shadow: 0 4px 8px #BBBBBB;
            transition: box-shadow 0.3s ease;
        }
    }

    .block__title {
        padding-left: 30px;
    }

    .brand__section {
        display: flex;
    }

    .brand__list {
        width: 100%;
        padding-left: 30px;
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
    }

    .brand__item {
        width: calc((100% - 3 * 25px) / 4);

        &:nth-child(n+9) {
            display: none;
        }
    }
}


