.burger { background-image: url('../img/burger.svg'); }
.repair-img { background-image: url('../img/repair.svg'); }
.checkstatus { background-image: url('../img/checkstatus.svg'); }
.call { background-image: url('../img/call.svg'); }
.chat { background-image: url('../img/chat.svg'); }
.profile { background-image: url('../img/profile.svg'); }

.acer {background-image: url(../img/Acer.svg);}
.lenovo {background-image: url(../img/Lenovo.svg);}
.apple {background-image: url(../img/Apple.svg);}
.bosch {background-image: url(../img/Bosch.svg);}
.hp {background-image: url(../img/Hp.svg);}
.sony {background-image: url(../img/Sony.svg);}
.sumsung {background-image: url(../img/Sumsung.svg);}
.viewsonic {background-image: url(../img/ViewSonic.svg);}


