.burger { background-image: url('/src/scss/img/burger.svg'); }
.repair-img { background-image: url('/src/scss/img/repair.svg'); }
.checkstatus { background-image: url('/src/scss/img/checkstatus.svg'); }
.call { background-image: url('/src/scss/img/call.svg'); }
.chat { background-image: url('/src/scss/img/chat.svg'); }
.profile { background-image: url('/src/scss/img/profile.svg'); }

.acer {background-image: url(/src/scss/img/Acer.svg);}
.lenovo {background-image: url(/src/scss/img/Lenovo.svg);}
.apple {background-image: url(/src/scss/img/Apple.svg);}
.bosch {background-image: url(/src/scss/img/Bosch.svg);}
.hp {background-image: url(/src/scss/img/Hp.svg);}
.sony {background-image: url(/src/scss/img/Sony.svg);}
.sumsung {background-image: url(/src/scss/img/Sumsung.svg);}
.viewsonic {background-image: url(/src/scss/img/ViewSonic.svg);}


