$font-tt-lakes: 'TT Lakes', sans-serif;

$color-bg: #F8F8F8;
$color-border: #D9FFF5;
$color-icons: #FF3E79; //color-primary
$color-decoration: #41F6D7; //$color-accent
$color-text-gray: #7E7E82;
$color-dark: black;
$color-wh: white;
$color-gr: #EAEAEA;
$color-m: #B5B6BC;
